.ui-wheel-of-fortune {
  --items: 12;
  aspect-ratio: 1 / 1;
  position: relative;
  display: grid;
  place-items: center;
  width: 300px;
  border: none;
  margin: 40px auto;
}

.ui-wheel-of-fortune::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 25px solid crimson;
  z-index: 10;
}

.ui-wheel-of-fortune ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(0deg);
}

.ui-wheel-of-fortune li {
  position: absolute;
  width: 50%;
  height: 50%;
  left: 50%;
  top: 50%;
  transform-origin: 0% 0%;
  background: hsl(calc(360deg / var(--items) * var(--i)), 80%, 60%);
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  border: 1px solid white;
  font-family: sans-serif;
  font-size: 14px;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}

/* Rotate each slice */
.ui-wheel-of-fortune li:nth-child(1) { --i: 0; transform: rotate(0deg); }
.ui-wheel-of-fortune li:nth-child(2) { --i: 1; transform: rotate(30deg); }
.ui-wheel-of-fortune li:nth-child(3) { --i: 2; transform: rotate(60deg); }
.ui-wheel-of-fortune li:nth-child(4) { --i: 3; transform: rotate(90deg); }
.ui-wheel-of-fortune li:nth-child(5) { --i: 4; transform: rotate(120deg); }
.ui-wheel-of-fortune li:nth-child(6) { --i: 5; transform: rotate(150deg); }
.ui-wheel-of-fortune li:nth-
